@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #363636;
}

ol,
ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

header .headerIn {
    width: 980px;
    height: 78px;
    margin: 0 auto;
    position: relative;
}

header .gnb {
    position: absolute;
    right: 0;
    top: 30px;
}

header .gnb ul li {
    float: left;
    background: url(../images/line.jpg) no-repeat;
    padding: 0 20px;
}

header .gnb ul li:first-child {
    background: none;
}

.container {
    width: 1010px;
    height: 1403px;
}

section .mainrow01 {
    width: 980px;
    height: 298px;
}

section .mainrow02 {
    width: 1010px;
    height: 425px;
}

.slider a {
    text-indent: -9999px;
    background: url(../images/slider1.png) no-repeat center 0;
    background-size: cover;
    display: block;
    width: 100%;
    height: 600px;
}

.mainrow01 {
    width: 980px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.mainrow01 h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #c58862;
}

.mainrow01 h3::after {
    content: "";
    margin: 0 auto;
    margin-top: 24px;
    display: block;
    width: 80px;
    height: 1px;
    background: #8e8e8e;
}

.mainrow01 span {
    font-weight: bold;
}

.mainrow01 ul::after {
    content: '';
    clear: both;
    display: block;
}

.mainrow01 ul li {
    float: left;
    width: 33.33%;
}

.mainrow01 ul li a p {
    font-size: 13px;
    margin-top: 14px;
}

.mainrow01 ul li a p strong {
    display: block;
    font-size: 18px;
}

.mainrow02 {
    width: 100%;
    height: 420px;
    background: url(../images/main.jpg) no-repeat;
    margin-top: 40px;
}

.mainrow02 h3 {
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
    margin-bottom: 40px;
}

.mainrow02 h3::after {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 12px;
}


.mainrow02 h3 span {
    font-weight: bold;
}

.mainrow02 .mainrow02In {
    width: 980px;
    margin: 0 auto;
}

.mainrow02 .mr01 {
    float: left;
}

.mainrow02 .mr02 {
    float: right;
}


.mr01 {
    position: relative;
    /* Required for containing element */
    width: 450px;
    height: 250px;
    /* Fills container width */
    /* padding-top: 56.25%; */
    /* Aspect ratio for 16:9 videos */
}

.mr01 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mr02 {
    width: 485px;
}

.mr02 li {
    width: 140px;
    height: 130px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.mr02 li:nth-child(1),
.mr02 li:nth-child(4) {
    /* margin-left: 0; */
}

.mr02 li:nth-child(4),
.mr02 li:nth-child(5),
.mr02 li:nth-child(6) {
    /* margin-top: 5px; */
}


.mr02 li img {
    width: 100%;
    height: 100%;
}


footer {
    background-color: #171717;
    width: 1010px;
    height: 234px;
}

.footerIn {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.footerIn>div {
    float: left;
    width: 325px;
    padding-top: 20px;
}

.footerIn h4 {
    color: #c58862;
}

.contact p .yellow {
    color: yellow;
    font-weight: bold;
    display: block;
}

.contact a {
    color: #fff;
    line-height: 17px;
}

.contact p span:nth-child(3) {
    display: block;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}

.contact address {font-style: normal; font-size: 12px; color: #878787;}
.contact address span {display: block;}

.news ul {width: 250px;}
.news ul li a {display: block; color: #ababab; font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 2;}

.sns ul li {display: inline-block; margin-top: 22px; margin-left: 20px;}
.sns ul li a {display: block; width: 22px; height: 22px; text-indent: -9999px; background-repeat: no-repeat;} 
.sns li:nth-child(1) a {background-image: url(../images/sns1.png);}
.sns li:nth-child(2) a {background-image: url(../images/sns2.png);}
.sns li:nth-child(3) a {background-image: url(../images/sns3.png);}
.sns li:nth-child(4) a {background-image: url(../images/sns4.png);}



