*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a{
    text-decoration: none;
    color: inherit;

}

em, address {
    font-style: normal; 
    /* em 태그와 address 태그의 특징인 기을기 현상을; */
}

html, body {
    color: #3d3d3d;
    line-height: 1.5;
    font-family: serif;
    font-style: 15px;
    font-weight: 400;
}

.wrapper{
    width: 1280px;
    margin: 0 auto;
}

button{
    background-color: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: normal;
    cursor: pointer; 링크에 마우스 올릴때 손바닥 모양
}

@media screen and (max-width:640px) {
    html,body{
        min-width: auto;
        font-size: 13px;

    }
    .wrapper{
        width: auto;
        margin: 0 20px;
    }

    
}
